/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

/* Custom variables */
:root{
    --pill: 2em;
    --rounded: 0.5em;
    --theme-green: #00b65b;
    --theme-green-disabled: #a9dac1;
    --theme-green-hover: #00cf2d;
    --theme-green-chosen: #58ff66;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color:azure;
    background-color: rgb(55, 71, 79);
}

#img-sorter {
    .selected {
        border: 2px solid #00b65b;
    }
}

#prerender-container {
    display: none;
    // position: absolute;
}

#prerender-div {
    display: inline-block;
    line-height: 0%;
    img {
    //    display: block; 
    }
}

#render-canvas {

}
